<h1><%= @list.name %></h1>

<div class="card">
  <div class="card-body">
    <% if @list.bookmarks.any? %>
      <% @list.bookmarks.each do |bookmark| %>
        <p><%= bookmark.movie.title %></p>
      <% end %>
    <% else %>
      <p>No movies added yet.</p>
    <% end %>
  </div>
</div>

<%= link_to 'Back to Lists', lists_path %>
<%= link_to "Delete this list", list_path(@list), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" } %>
