.list-card {
  position: relative; // Garante que o overlay fique dentro do card
  background-image: url('cinema.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  border-color: black;
}

.list-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); // Ajuste a opacidade (0.5 = 50% escuro)
}

.card-body {
  position: relative; // Para manter o texto acima do overlay
  z-index: 1;
}
