.list-card {
  position: relative;
  background-image: url('cinema.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  border-color: black;
}

.list-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.card-body {
  position: relative;
  z-index: 1;
}
